labs/kafka/homework/nifi/bitstamp_kafka_publisher.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description>Ingestion process to read Bitstamp messages from the API and push it to Kafka</description>
    <groupId>33f3fe1a-0176-1000-396f-3a094964aec9</groupId>
    <name>bitstamp_kafka_publisher</name>
    <snippet>
        <connections>
            <id>c5fb2df3-e2eb-34f9-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>301e5c98-c064-3990-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>connected</selectedRelationships>
            <source>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>17aba274-c350-3f48-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d6f001b1-033f-3eb0-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>d8e4cc47-8a30-3b4a-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>301e5c98-c064-3990-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>fe73e540-dba6-39f3-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>391c367e-60d0-355b-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>text message</selectedRelationships>
            <source>
                <groupId>ef089e80-3a16-3d90-0000-000000000000</groupId>
                <id>17aba274-c350-3f48-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>18f42c10-fa86-3d6c-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/opt/gl-bigdata-procamp/bitstamp.truststore</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>7f3d8c28-6f3d-30d9-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-websocket-services-jetty-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>input-buffer-size</key>
                    <value>
                        <name>input-buffer-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>
                        <name>max-text-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>
                        <name>max-binary-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>
                        <name>websocket-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>
                        <name>connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>
                        <name>session-maintenance-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>
                        <name>user-name</name>
                    </value>
                </entry>
                <entry>
                    <key>user-password</key>
                    <value>
                        <name>user-password</name>
                    </value>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>
                        <name>authentication-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-host</key>
                    <value>
                        <name>proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-port</key>
                    <value>
                        <name>proxy-port</name>
                    </value>
                </entry>
            </descriptors>
            <name>JettyWebSocketClient</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>input-buffer-size</key>
                    <value>4 kb</value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>wss://ws.bitstamp.net</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>18f42c10-fa86-3d6c-0000-000000000000</value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>3 sec</value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>10 sec</value>
                </entry>
                <entry>
                    <key>user-name</key>
                </entry>
                <entry>
                    <key>user-password</key>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>US-ASCII</value>
                </entry>
                <entry>
                    <key>proxy-host</key>
                </entry>
                <entry>
                    <key>proxy-port</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
        </controllerServices>
        <processors>
            <id>018cd7fa-ddb5-30e0-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>712.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>17aba274-c350-3f48-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <position>
                <x>368.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
                            <name>websocket-client-controller-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>
                            <name>websocket-client-id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>7f3d8c28-6f3d-30d9-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>my_client</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Connect to Bitstamp</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>binary message</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>connected</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>text message</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
        </processors>
        <processors>
            <id>301e5c98-c064-3990-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <position>
                <x>368.0</x>
                <y>248.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
    "event": "bts:subscribe",
    "data": {
        "channel": "live_orders_${CurrencyPair}"
    }
}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Prepare channel subscription message</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>391c367e-60d0-355b-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <position>
                <x>1280.0</x>
                <y>376.0</y>
            </position>
            <bundle>
                <artifact>nifi-kafka-2-6-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>
                            <name>bootstrap.servers</name>
                        </value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>
                            <name>security.protocol</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>
                            <name>sasl.mechanism</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                        <value>
                            <name>sasl.kerberos.service.name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                        <value>
                            <name>sasl.kerberos.principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                        <value>
                            <name>sasl.kerberos.keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                        <value>
                            <name>sasl.username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                        <value>
                            <name>sasl.password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>
                            <name>sasl.token.auth</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>ssl.context.service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>
                            <name>topic</name>
                        </value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>
                            <name>acks</name>
                        </value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>
                            <name>use-transactions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                        <value>
                            <name>transactional-id-prefix</name>
                        </value>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                        <value>
                            <name>attribute-name-regex</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>
                            <name>message-header-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                        <value>
                            <name>kafka-key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>
                            <name>key-attribute-encoding</name>
                        </value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                        <value>
                            <name>message-demarcator</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>
                            <name>max.request.size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>
                            <name>ack.wait.time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>
                            <name>max.block.ms</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>
                            <name>partitioner.class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>partition</key>
                        <value>
                            <name>partition</name>
                        </value>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>
                            <name>compression.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>bootstrap.servers</key>
                        <value>localhost:9092</value>
                    </entry>
                    <entry>
                        <key>security.protocol</key>
                        <value>PLAINTEXT</value>
                    </entry>
                    <entry>
                        <key>sasl.mechanism</key>
                        <value>GSSAPI</value>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.service.name</key>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.principal</key>
                    </entry>
                    <entry>
                        <key>sasl.kerberos.keytab</key>
                    </entry>
                    <entry>
                        <key>sasl.username</key>
                    </entry>
                    <entry>
                        <key>sasl.password</key>
                    </entry>
                    <entry>
                        <key>sasl.token.auth</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>ssl.context.service</key>
                    </entry>
                    <entry>
                        <key>topic</key>
                        <value>bitstamp.transaction.btcusd</value>
                    </entry>
                    <entry>
                        <key>acks</key>
                        <value>all</value>
                    </entry>
                    <entry>
                        <key>use-transactions</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>transactional-id-prefix</key>
                    </entry>
                    <entry>
                        <key>attribute-name-regex</key>
                    </entry>
                    <entry>
                        <key>message-header-encoding</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>kafka-key</key>
                    </entry>
                    <entry>
                        <key>key-attribute-encoding</key>
                        <value>utf-8</value>
                    </entry>
                    <entry>
                        <key>message-demarcator</key>
                    </entry>
                    <entry>
                        <key>max.request.size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>ack.wait.time</key>
                        <value>5 secs</value>
                    </entry>
                    <entry>
                        <key>max.block.ms</key>
                        <value>5 sec</value>
                    </entry>
                    <entry>
                        <key>partitioner.class</key>
                        <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                    </entry>
                    <entry>
                        <key>partition</key>
                    </entry>
                    <entry>
                        <key>compression.type</key>
                        <value>none</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Send message to Kafka</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
        </processors>
        <processors>
            <id>d8e4cc47-8a30-3b4a-0000-000000000000</id>
            <parentGroupId>ef089e80-3a16-3d90-0000-000000000000</parentGroupId>
            <position>
                <x>360.0</x>
                <y>464.0</y>
            </position>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>
                            <name>websocket-session-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>
                            <name>websocket-controller-service-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>
                            <name>websocket-endpoint-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>
                            <name>websocket-message-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>${websocket.session.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>${websocket.controller.service.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>${websocket.endpoint.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>TEXT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>Send channel subscription message</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
        </processors>
    </snippet>
    <timestamp>12/05/2020 20:11:04 UTC</timestamp>
</template>
